.divReview {
    margin-top: 190px;
    padding: 10px;
}

.viewReview {
    display: flex;
}

.titleReview {
    font-size: 40px;
    font-family: Verdana, Tahoma, sans-serif;
    color: rgb(6, 25, 31);
    background-color: rgb(206, 213, 215);
    width: 460px;
    height: 70px;
    margin-left: 40px;
    text-align: center;
    padding-top: 15px;
    margin-right: 755px;
    border-radius: 10px;
}

.review {
    height: 200px;
    background-color: rgb(206, 213, 215);
    font-family: Verdana, Tahoma, sans-serif;
    color: rgb(6, 25, 31);
    margin-left: 140px;
    padding: 10px;
    width: 1300px;
    height: 200px;
    margin-top: 30px;
    border-radius: 10px;
}

.star {
    font-size: 25px;
    margin-right: 640px;
}

.movieTitle {
    background-color: rgb(206, 213, 215);
    font-family: Verdana, Tahoma, sans-serif;
    color: rgb(6, 25, 31);
    font-weight: bold;
    font-size: 25px;
    padding-right: 20px;
}

.description {
    border: 1px solid black;
    margin: 10px;
    height: 50px;
    padding: 10px;
    width: 900px;
    font-family: Verdana, Tahoma, sans-serif;
    color: rgb(6, 25, 31);
    font-weight: bold;
    font-size: 15px;
    margin-right: 80px;
    border-radius: 10px;
}

.buttonEdit {
    font-size: 20px;
    background-color: rgb(1, 16, 97);
    color: rgb(206, 213, 215);
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 20px;
    width: 150px;
    height: 70px;
    margin-left: 33px;
}

.buttonEdit:hover {
    color: rgb(1, 16, 97);
    background-color: rgb(206, 213, 215);
    border: 2px solid rgb(1, 16, 97);
}

.buttonEdit:active {
    background-color: rgb(1, 16, 97);
    box-shadow: 0 2px rgb(5, 36, 54);
    border: 2px solid rgb(1, 16, 97);
    transform: translateY(4px);
    color: rgb(206, 213, 215);
}

.buttonDelete {
    font-size: 20px;
    background-color: rgb(1, 16, 97);
    color: rgb(206, 213, 215);
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 20px;
    width: 150px;
    height: 70px;
}

.buttonDelete:hover {
    color: rgb(1, 16, 97);
    background-color: rgb(206, 213, 215);
    border: 2px solid rgb(1, 16, 97);
}

.buttonDelete:active {
    background-color: rgb(1, 16, 97);
    box-shadow: 0 2px rgb(5, 36, 54);
    border: 2px solid rgb(1, 16, 97);
    transform: translateY(4px);
    color: rgb(206, 213, 215);
}


.divDelete {
    display: flex;
}

.top {
    display: flex;
}

.createReview {
    font-size: 20px;
    background-color: rgb(206, 213, 215);
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 20px;
    width: 300px;
    height: 90px;
}

.createReview:hover {
    color: rgb(206, 213, 215);
    background-color: rgb(1, 16, 97);
    border: 2px solid rgb(206, 213, 215);
}

.createReview:active {
    background-color: rgb(206, 213, 215);
    box-shadow: 0 2px rgb(80, 86, 88);
    border: 2px solid rgb(206, 213, 215);
    transform: translateY(4px);
    color: black;
}